head
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
  script(type='text/javascript', src='jquery-ui-1.8.23.min.js')
  link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.8.23.css')
  script(type='text/javascript', src='jquery.ui.selectmenu.js')
  script(type='text/javascript', src='mousetrap.min.js')
  script(type='text/javascript', src='paper.js')
  script(type='text/javascript', src='/javascripts/util/exports-init.js')
  script(type='text/javascript', src='/javascripts/enhance/string-enhance.js')
  script(type='text/javascript', src='/javascripts/util/node/listnode.js')
  script(type='text/javascript', src='/javascripts/util/node/mapnode.js')
  script(type='text/javascript', src='/javascripts/util/node/textholder.js')
  script(type='text/javascript', src='/javascripts/util/circlemap.js')
  script(type='text/javascript', src='/javascripts/util/doublelist.js')
  script(type='text/javascript', src='/javascripts/canvas/world.js')
  script(type='text/javascript', src='/javascripts/event/chat-events.js')
  script(type='text/javascript', src='/javascripts/chat.js')
  script(type='text/paperscript', src='/javascripts/canvas/view-setup.js', canvas='view')
body
  #interface(style='border: 2px inset #CCCCCC; float: right; padding: 3px; height: 550px; width: 645px;')
    #viewContainer(style='border: 2px outset #CCCCCC; background-color: #CCCCCC; display: inline-block; float: right; text-align: center;')
      table#viewHeader(style='margin-top: 2px; margin-left: 3px; table-layout: fixed; text-align: left; border-collapse: collapse;', border='0')
        tr
          td#ticks(style='padding: 0px') ticks:
          td#tickCounter(style='width: 320px; padding: 0px')
          td#button(style='padding: 0px')
            input(type='button', value='3D', style='background-color: #CCCCCC; font-size: 8pt;', onclick='threeD()')
      canvas#view(height='400', width='400', style='background-color: #000000; vertical-align: bottom; margin: 3px')
    button#addButton(type='button')
      | Add Button
    br
    button#addMonitor(type='button')
      | Add Monitor
    br
    button#addSlider(type='button')
      | Add Slider
    br
    button#addSwitch(type='button')
      | Add Switch
    br
    button#add(type='button', hidden='hidden')
      | Add
    select#addOptions(hidden='hidden')
      option(value='button')
        | Button
      option(value='slider')
        | Slider
      option(value='switch')
        | Switch
      option(value='chooser')
        | Chooser
      option(value='input')
        | Input
      option(value='monitor')
        | Monitor
      option(value='plot')
        | Plot
      option(value='output')
        | Output
      option(value='note')
        | Note
  div
    #buttonDialog
      table
        tr
          td
            label(for='buttonAgents') Agent(s)
            select#buttonAgents
              option(value='observer') observer
              option(value='turtles') turtles
              option(value='patches') patches
              option(value='links') links
          td
            input#buttonForever(type='checkbox')
            label(for='buttonForever') Forever
      br
      input#buttonDisable(type='checkbox')
      label(for='buttonDisable') Disable until ticks start
      br
      label(for='buttonCommands') Commands
      input#buttonCommands(type='text', required='required')
      br
      label(for='buttonDisplay') Display name
      input#buttonDisplay(type='text')
      br
      label(for='buttonKey') Action Key
      input#buttonKey(maxlength='1')
    #monitorDialog
      label(for='monitorReporter') Reporter
      br
      input#monitorReporter(type='text')
      br
      label(for='monitorDisplay') Display Name
      input#monitorDisplay(type='text')
      br
      label(for='monitorPrecision') Decimal places
      input#monitorPrecision(type='number', value='17', max='17')
      label(for='monitorFont') Font size
      input#monitorFont(type='number', value='11')
    #sliderDialog
      label(for='sliderVar') Global variable
      br
      input#sliderVar(type='text')
      br
      table
        tr
          td Minimum
          td Increment
          td Maximum
        tr
          td
            input#sliderMin(value='0')
          td
            input#sliderStep(value='1')
          td
            input#sliderMax(value='100')
      label(for='sliderInitVal') Value
      input#sliderInitVal(type='number', value='50')
      label(for='sliderUnits') Units (optional)
      input#sliderUnits(type='text')
      br
      input#sliderIsVertical(type='checkbox')
      label(for='sliderIsVertical') vertical?
    #switchDialog
      label(for='switchVar') Global Variable
      input#switchVar(type='text')
  h1(style='margin-top: 0')= title
  table
    tr(style='text-align: left')
      th(style='width: 380px')
        | Command Log
      td
        input(type="button", value="Clear", onclick="clearChat()", style="width: 50px")
  table#chat(style='border: none; table-layout: fixed')
    tr
      td
        #chatContainer(style='border: 1px inset #CCCCCC; height: 20em; width: 30em; padding: .385em; margin-right: 6pt; overflow: auto', tabindex='0')
          table#chatLog(style='width: 97%; border-collapse: collapse; table-layout: fixed; margin-right: 1.5%; margin-left: 1.5%')
      td
        #onlineLog(style='border: 1px inset #CCCCCC; height: 20em; width: 8em; padding: .385em; overflow: auto')
          table#usersTable(style='width: 100%; table-layout: fixed')
            thead
              tr
                td(style='line-height: 20pt; vertical-align: middle; font-weight: bold;') Online:
            tbody#usersOnline
  table#inputs(style='margin: 5px')
    tr(style='height: 15px', valign='middle')
      td#agentType(style='font-size: 8pt; width: 50px; height: 100%;', cellspacing='3px', cellpadding='3px')
      td(style='height: 100%', cellspacing='3px', cellpadding='3px')
        input#inputBuffer(value='', autofocus='autofocus', style='width: 370px;', class='mousetrap')
  #blocker1(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; z-index: -1; width: 150px; height: 150px;')
    img(src='/images/white.png')
  #copierWrap(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; padding: 20px; width: 100px; height: 100px; z-index: -2;')
    textarea#copier(name='', class='mousetrap', style='width: 100%; height: 100%; overflow: hidden; resize: none', onfocus='nameSelect(this.name)', onblur='nameDeselect(this.name)')
  #blocker2(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; z-index: -3; width: 150px; height: 150px;')
    img(src='/images/white.png')
  #textCopierWrap(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; padding: 20px; width: 100px; height: 100px; z-index: -4;')
    textarea#textCopier(style='width: 100%; height: 100%; overflow: hidden, resize: none, white-space: pre-wrap')
