h1(style='margin-top: 0')= title
p Welcome to #{title}!
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='chat.js')
script(type='text/javascript', src='http://code.jquery.com/jquery.js')
#chat(style="float: none;")
  p
  h4 Chat Log
  textarea#log(cols="50", rows="15", readonly="readonly", style='resize: none; float: left; margin-right: 10pt', onkeydown='keyCheck(this, event)')
  #userLog(style='vertical-align: top;')
    label(for='users', style='display: block; margin-bottom: 4pt; margin-top: 4pt;') Online:
    textarea#users(rows='13', cols='10', readonly='readonly', style='resize: none; vertical-align: bottom;')
  p
#inputs(style='float: none')
  #shoutState(style='font-size: 8pt; float: left; width: 50px; margin-top: 4px;') Normal
  input#abc(value='', onkeydown='keyCheck(this, event)', autofocus='autofocus', style='float: left; width: 20em')
  input#outputState(type='checkbox', onchange='a()')
  label(for='outputState', style='font-size: 8pt;') Variable output?
#info(style='text-align: center; width: 40em; font-size: 8pt; margin-top: 2em')
    | Press tab to shout! Mess around with variable output!
script(type='text/javascript')
  var name = prompt("Please type your user name:");
  var query = $.post('/', { username: name }, function(data, textStatus, jqXHR){
      if (data !== null) {
          runSockets(data);
      }
  });
