head
body
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='http://code.jquery.com/jquery.js')
  script(type='text/javascript', src='mousetrap.min.js')
  script(type='text/javascript', src='/lib/paper.js')
  script(type='text/javascript', src='/javascripts/util/exports-init.js')
  script(type='text/javascript', src='/javascripts/enhance/string-enhance.js')
  script(type='text/javascript', src='/javascripts/util/node/listnode.js')
  script(type='text/javascript', src='/javascripts/util/node/mapnode.js')
  script(type='text/javascript', src='/javascripts/util/node/textholder.js')
  script(type='text/javascript', src='/javascripts/util/circlemap.js')
  script(type='text/javascript', src='/javascripts/util/doublelist.js')
  script(type='text/javascript', src='/javascripts/event/chat-events.js')
  script(type='text/javascript', src='/javascripts/chat.js')
  div(style='border: 2px outset #CCCCCC; background-color: #CCCCCC; display: inline-block; float: right; text-align: center;')
    table(style='margin: 2px; border-collapse: collapse; table-layout: fixed; text-align: left;')
      tr(style='height: 1em;')
        td
          canvas#resize(width='80', height='10')
        td(style='width: 35px;') ticks:
        td#tickCounter(style='width: 245px;')
        td(style='width: 10px;')
          input(type='button', value='3D', style='background-color: #CCCCCC; font-size: 8pt;')
    canvas#view(height='400', width='400', style='background-color: #000000; vertical-align: bottom; margin: 3px')
  h1(style='margin-top: 0')= title
  table
    tr(style='text-align: left')
      th(style='width: 520px')
        | Chat Log
      td
        input(type="button", value="Clear", onclick="clearChat()", style="width: 50px")
  table#chat(style='border: none; table-layout: fixed')
    tr
      td
        #container(style='border: 1px inset #CCCCCC; height: 20em; width: 40em; padding: .385em; margin-right: 10pt; overflow: auto', tabindex='0')
          table#chatLog(style='width: 97%; border-collapse: collapse; table-layout: fixed; margin-right: 1.5%; margin-left: 1.5%')
      td
        #onlineLog(style='border: 1px inset #CCCCCC; height: 20em; width: 10em; padding: .385em; overflow: auto')
          table#usersTable(style='width: 100%; table-layout: fixed')
            thead
              tr
                td(style='line-height: 20pt; vertical-align: middle; font-weight: bold;') Online:
            tbody#usersOnline
  table#inputs(style='margin: 5px')
    tr(style='height: 15px', valign='middle')
      td#agentType(style='font-size: 8pt; width: 50px; height: 100%;', cellspacing='3px', cellpadding='3px')
      td(style='height: 100%', cellspacing='3px', cellpadding='3px')
        input#inputBuffer(value='', autofocus='autofocus', style='width: 507px;', class='mousetrap')
  #blocker1(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; z-index: -1; width: 150px; height: 150px;')
    img(src='/images/white.png')
  #copierWrap(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; padding: 20px; width: 100px; height: 100px; z-index: -2;')
    textarea#copier(name='', class='mousetrap', style='width: 100%; height: 100%; overflow: hidden; resize: none', onfocus='nameSelect(this.name)', onblur='nameDeselect(this.name)')
  #blocker2(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; z-index: -3; width: 150px; height: 150px;')
    img(src='/images/white.png')
  #textCopierWrap(style='position: fixed; margin-top: auto; margin-bottom: auto; right: 0px; padding: 20px; width: 100px; height: 100px; z-index: -4;')
    textarea#textCopier(style='width: 100%; height: 100%; overflow: hidden, resize: none, white-space: pre-wrap')
