head
body
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='http://code.jquery.com/jquery.js')
  script(type='text/javascript', src='chat.js')
  h1(style='margin-top: 0')= title
  table
    tr(style='text-align: left')
      th(style='width: 520px')
        | Chat Log
      td
        input(type="button", value="Clear", onclick="clearChat()")
  table#chat(style='border: none; table-layout: fixed', onkeydown='keyCheck(this, event)')
    tr
      td
        #container(style='border: 1px inset #CCCCCC; height: 20em; width: 40em; padding: 5px; margin-right: 10pt; overflow: auto')
          table#chatLog(style='width: 98%; table-layout: fixed')
      td
        #onlineLog(style='border: 1px inset #CCCCCC; height: 20em; width: 10em; padding: 5px;')
          textarea#label(readonly='readonly', style='resize: none; border: none; width: 98%; height: 8%')
            | Online:
          textarea#usersOnline(style='resize: none; border: none; width: 98%; height: 88%;', value='')
  table#inputs(style='margin: 5px')
    tr(style='height: 15px', valign='middle')
      td#shoutState(style='font-size: 8pt; width: 50px; height: 100%;', cellspacing='3px', cellpadding='3px')
        | Normal
      td(style='height: 100%', cellspacing='3px', cellpadding='3px')
        input#abc(value='', autofocus='autofocus', style='width: 30em;', onkeydown='keyCheck(this, event)')
      td(style='height: 100%;', cellspacing='3px', cellpadding='3px')
        input#outputState(type='checkbox', onchange='a()')
        label(for='outputState', style='font-size: 8pt;') Variable output?
    tr
      td(style='text-align: center; font-size: 8pt;', colspan='3', cellspacing='3px', cellpadding='3px')
        | Press tab to shout! Mess around with variable output!